/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-title: #db00ff; /*цвет заголовка*/
  --color-subtitle: #000028; /*цвет подзаголовка и названия колонок "многозадачность"*/
  --text-color: #f1b2ce; /*основной цвет*/
  --accent-color: #ff0070; /*акцентный цвет, заголовок секции "почему сосредоточиться сложно" и слова-ссылки*/
  --font-family: "IBM Plex Mono"; /* шрифт*/
  --bg-color: #000028; /*цвет фона*/
  --main-font-weight: 400; /*основная толщина шрифта*/
  --title-font-weight: 700; /*заголовок толщина шрифта*/
  --title-font-size: 157px; /*размер шрифта но нужен ли из-за формулы?*/
  --main-font-size: 18px; /*размер шрифта*/
  --color-hover: rgba(255, 0, 112, 0.4);
  --background-photo: url(../images/cover-image-dark.png);
  --decor-color: #ff0070; /* rec и уголки*/ /*день,авто,неон*/ /*название у колонок */
  --display-rec: block;
}
